<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.thanlwinsoft.languagetest.xslexport" name="XSL Export" schema="schema/org.thanlwinsoft.languagetest.xslexport.exsd"/>
   <extension
         id="LanguageTestApp"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.thanlwinsoft.languagetest.eclipse.Application">
         </run>
      </application>
   </extension>
   <extension
         id="LanguageTest"
         name="%LanguageTest.name"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.thanlwinsoft.languagetest.LanguageTestApp"
            description="%LanguageTest.desc"
            name="%LanguageTest">
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.thanlwinsoft.languagetest.eclipse.Perspective"
            icon="icons/languageBuddy16.png"
            id="org.thanlwinsoft.languagetest.perspective"
            name="%LanguageTest.perspective"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.thanlwinsoft.languagetest.views"
            class="org.thanlwinsoft.languagetest.eclipse.views.TestView"
            icon="icons/languageBuddy16.png"
            id="org.thanlwinsoft.languagetest.TestView"
            name="%LanguageTest.TestView"/>
      <view
            allowMultiple="false"
            category="org.thanlwinsoft.languagetest.views"
            class="org.eclipse.ui.views.navigator.ResourceNavigator"
            icon="icons/moduleProject.png"
            id="org.thanlwinsoft.languagetest.Navigator"
            name="%LanguageTest.navigator"/>
      <view
            allowMultiple="false"
            category="org.thanlwinsoft.languagetest.views"
            class="org.thanlwinsoft.languagetest.eclipse.views.TestHistoryView"
            icon="icons/testHistory16.png"
            id="org.thanlwinsoft.languagetest.TestHistoryView"
            name="%LanguageTest.testHistoryView"/>
      <category
            id="org.thanlwinsoft.languagetest.views"
            name="%LanguageTest.viewCategory"/>
      <view
            category="org.thanlwinsoft.languagetest.views"
            class="org.thanlwinsoft.languagetest.eclipse.views.RecordingView"
            icon="icons/playMini.png"
            id="org.thanlwinsoft.languagetest.eclipse.views.RecordingView"
            name="%LanguageTest.recordingView"/>
      <view
            allowMultiple="true"
            category="org.thanlwinsoft.languagetest.views"
            class="org.thanlwinsoft.languagetest.eclipse.views.ChartHistoryView"
            icon="icons/testHistory16.png"
            id="org.thanlwinsoft.languagetest.eclipse.views.ChartHistoryView"
            name="%LanguageTest.ChartHistoryView"/>
   </extension>
   <extension
         point="org.eclipse.core.resources.natures"
         id="org.thanlwinsoft.languagetest.eclipse.natures.LanguageModuleNature">
      <one-of-nature id="org.thanlwinsoft.languagetest.one-of-nature"/>
      <runtime>
         <run class="org.thanlwinsoft.languagetest.eclipse.natures.LanguageModuleNature"/>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.core.resources.natures"
         id="org.thanlwinsoft.languagetest.eclipse.natures.LanguageUserNature">
      <one-of-nature id="org.thanlwinsoft.languagetest.one-of-nature"/>
      <runtime>
         <run class="org.thanlwinsoft.languagetest.eclipse.natures.LanguageUserNature"/>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.thanlwinsoft.languagetest.newWizardCategory"
            class="org.thanlwinsoft.languagetest.eclipse.wizards.NewModuleProjectWizard"
            finalPerspective="org.thanlwinsoft.languagetest.perspective"
            hasPages="true"
            icon="icons/newModuleProject.png"
            id="org.thanlwinsoft.languagetest.eclipse.wizards.NewModuleWizard"
            name="%NewModuleProjectWizard"
            preferredPerspectives="org.thanlwinsoft.languagetest.perspective"
            project="true">
         <selection class="org.eclipse.core.resources.IContainer"/>
      </wizard>
      <category
            id="org.thanlwinsoft.languagetest.newWizardCategory"
            name="%LanguageTest.newWizardCategory"/>
      <wizard
            category="org.thanlwinsoft.languagetest.newWizardCategory"
            class="org.thanlwinsoft.languagetest.eclipse.wizards.NewLangModuleWizard"
            icon="icons/newModule.png"
            id="org.thanlwinsoft.languagetest.wizards.NewLangModuleWizard"
            name="New Language Module Wizard"
            project="false">
         <selection class="org.eclipse.core.resources.IContainer"/>
      </wizard>
      <primaryWizard id="org.thanlwinsoft.languagetest.wizards.NewLangModuleWizard"/>
      <wizard
            category="org.thanlwinsoft.languagetest.newWizardCategory"
            class="org.thanlwinsoft.languagetest.eclipse.wizards.NewUserWizard"
            icon="icons/newUser.png"
            id="org.thanlwinsoft.languagetest.wizards.NewUserWizard"
            name="New User Wizard"
            project="true">
         <selection class="org.eclipse.core.resources.IContainer"/>
      </wizard>
      <primaryWizard id="org.thanlwinsoft.languagetest.eclipse.wizards.NewModuleWizard"/>
      <primaryWizard id="org.thanlwinsoft.languagetest.wizards.NewUserWizard"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="LanguageTest.actionSet1"
            label="LanguageTest.actionSet1"
            visible="true">
         <action
               class="org.thanlwinsoft.languagetest.eclipse.wizards.NewModuleProjectAction"
               icon="icons/newModuleProject.png"
               id="org.thanlwinsoft.languagetest.newModuleProjectAction"
               label="%LanguageTest.newModuleProjectAction"
               menubarPath="File/new"
               style="push"
               toolbarPath="Bar/additions"
               tooltip="%LanguageTest.newModuleProjectActionDesc"/>
         <action
               class="org.thanlwinsoft.languagetest.eclipse.wizards.NewUserProjectAction"
               icon="icons/newUser.png"
               id="org.thanlwinsoft.languagetest.NewUserProjectAction"
               label="%LanguageTest.newUserProjectAction"
               menubarPath="File/new"
               style="push"
               toolbarPath="Bar/additions"
               tooltip="%LanguageTest.newUserProjectActionDesc"/>
         <action
               class="org.thanlwinsoft.languagetest.eclipse.wizards.StartTestAction"
               icon="icons/startTest.png"
               id="org.thanlwinsoft.languagetest.eclipse.wizards.StartTestAction"
               label="%LanguageTest.startTestAction"
               menubarPath="File/new"
               style="push"
               toolbarPath="Bar/new"
               tooltip="%LanguageTest.startTestActionDesc"/>
         <action
               class="org.thanlwinsoft.languagetest.eclipse.wizards.NewLangModuleAction"
               icon="icons/newModule.png"
               id="org.thanlwinsoft.languagetest.newLangModuleAction"
               label="%LanguageTest.newLangModule"
               menubarPath="File/new"
               style="push"
               toolbarPath="Bar/additions"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.eclipse.core.runtime.xml"
            file-extensions="lm.xml"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.resourceFilters">
      <filter
            pattern="*.project"
            selected="true">
      </filter>
      <filter
            pattern=".languages.xml"
            selected="true"/>
      <filter
            pattern="TestHistory"
            selected="true"/>
      <filter
            pattern="*.xsl"
            selected="true"/>
      <filter
            pattern=".settings"
            selected="true"/>
   </extension>
   <extension point=
"org.eclipse.ui.navigator.navigatorContent"
>
<commonWizard
      menuGroupId="group.new"
      type="new"
      wizardId="org.eclipse.ui.wizards.new.folder">
<enablement>
<or>
<adapt type=
"org.eclipse.core.resources.IFile"
/>
<adapt type=
"org.eclipse.core.resources.IFolder"
/>
<adapt type=
"org.eclipse.core.resources.IProject"
/>
<adapt type=
"org.eclipse.core.resources.IWorkspaceRoot"
/>
</or>
</enablement>
</commonWizard>
<commonWizard type=
"new"
wizardId=
"org.thanlwinsoft.languagetest.wizards.NewLangModuleWizard"
>
<enablement>
<or>
<adapt type=
"org.eclipse.core.resources.IFile"
/>
<adapt type=
"org.eclipse.core.resources.IFolder"
/>
<adapt type=
"org.eclipse.core.resources.IProject"
/>
<adapt type=
"org.eclipse.core.resources.IWorkspaceRoot"
/>
</or>
</enablement>

 

</commonWizard>
<navigatorContent
      activeByDefault="true"
      contentProvider="org.thanlwinsoft.languagetest.eclipse.FileContentProvider"
      icon="icons/moduleProject.png"
      id="org.eclipse.ui.views.navigator"
      labelProvider="org.thanlwinsoft.languagetest.eclipse.ProjectFileLabelProvider"
      name="LanguageTest.navigatorContent1"/>
<commonWizard
      menuGroupId="additions"
      type="new"
      wizardId="org.thanlwinsoft.languagetest.wizards.NewUserWizard">
   <enablement>
      <or>
         <adapt type="org.eclipse.core.resources.IWorkspaceRoot"/>
         <adapt type="org.eclipse.core.resources.IProject"/>
      </or>
   </enablement>
</commonWizard>

</extension>
 <extension point=
"org.eclipse.ui.navigator.navigatorContent"
>

</extension>
 <extension
         id="org.eclipse.ui.ide.resourceMappingAdapters"
         point="org.eclipse.core.runtime.adapters">
       <factory
            class="org.eclipse.ui.internal.ide.model.WorkingSetAdapterFactory"
            adaptableType="org.eclipse.ui.IWorkingSet">
            <adapter type="org.eclipse.ui.IContributorResourceAdapter"/>
       </factory>
       <factory
            class="org.eclipse.ui.internal.ide.model.WorkingSetAdapterFactory"
            adaptableType="org.eclipse.ui.IWorkingSet">
            <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
       </factory>
       <factory
            class="org.eclipse.ui.internal.ide.model.WorkingSetAdapterFactory"
            adaptableType="org.eclipse.ui.IWorkingSet">
            <adapter type="org.eclipse.core.resources.mapping.ResourceMapping"/>
       </factory>
   </extension>
 <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.eclipse.ui.part.FileEditorInputFactory"
            id="org.eclipse.ui.part.FileEditorInputFactory">
      </factory>
</extension>
<extension point="org.eclipse.core.runtime.adapters">
<factory
			class="org.thanlwinsoft.eclipse.WorkbenchAdapterFactory"
			adaptableType="org.eclipse.core.resources.IResource">
			<adapter type="org.eclipse.ui.model.IWorkbenchAdapter" />
		</factory>
</extension>
<extension
      point="org.eclipse.ui.editors">
   <editor
         class="org.thanlwinsoft.languagetest.eclipse.editors.TestModuleEditor"
         contributorClass="org.thanlwinsoft.languagetest.eclipse.editors.TestModuleActions"
         default="true"
         extensions="lm.xml, xml"
         filenames="*.lm.xml"
         icon="icons/module.png"
         id="org.thanlwinsoft.languagetest.eclipse.editors.TestModuleEditor"
         matchingStrategy="org.thanlwinsoft.languagetest.eclipse.editors.TestModuleMatchingStrategy"
         name="%LanguageTest.moduleEditor"/>
</extension>
<extension
      point="org.eclipse.ui.popupMenus">
   <objectContribution
         id="LanguageTest.contribution1"
         nameFilter="*"
         objectClass="org.eclipse.core.resources.IFile">
      <menu
            id="LanguageTest.testMenu"
            label="%LanguageTest.testMenu"
            path="additions">
         <separator name="testGroup"/>
      </menu>
      <action
            class="org.thanlwinsoft.languagetest.eclipse.wizards.StartTestAction"
            enablesFor="1"
            icon="icons/startTest.png"
            id="LanguageTest.startTestAction"
            label="%LanguageTest.startTestAction"
            menubarPath="LanguageTest.testMenu/testGroup"/>
   </objectContribution>
   <viewerContribution
         id="org.thanlwinsoft.languagetest.viewerContribution1"
         targetID="org.thanlwinsoft.languagetest.eclipse.editors.TestModuleEditor">
      <menu
            id="org.thanlwinsoft.languagetest.popupmenu1"
            label="LanguageTest.menu1"
            path="additions">
         <groupMarker name="moduleEditor1"/>
      </menu>
   </viewerContribution>
   <objectContribution
         adaptable="false"
         id="org.thanlwinsoft.languagettest.addLanguage"
         objectClass="org.eclipse.core.resources.IProject">
      <action
            class="org.thanlwinsoft.languagetest.eclipse.wizards.AddLanguageAction"
            enablesFor="1"
            icon="icons/FlagOutline16.png"
            id="org.thanlwinsoft.languagetest.AddLanguageAction"
            label="%LanguageTest.addLanguageAction"
            menubarPath="additions"/>
   </objectContribution>
   <objectContribution
         adaptable="false"
         id="org.thanlwinsoft.languagetest.addFolder"
         objectClass="org.eclipse.core.resources.IResource">
      <action
            class="org.thanlwinsoft.languagetest.eclipse.wizards.NewFolderAction"
            enablesFor="*"
            id="org.thanlwinsoft.languagetest.NewFolderAction"
            label="%LanguageTest.newFolder"
            menubarPath="additions"/>
   </objectContribution>
   <objectContribution
         adaptable="false"
         id="org.thanlwinsoft.languagettest.newModuleMenuItem"
         objectClass="org.eclipse.core.resources.IResource">
      <action
            class="org.thanlwinsoft.languagetest.eclipse.wizards.NewLangModuleAction"
            enablesFor="*"
            icon="icons/newModule.png"
            id="org.thanlwinsoft.languagettest.newModuleAction"
            label="%LanguageTest.newModule"
            menubarPath="additions"/>
   </objectContribution>
</extension>
<extension
      point="org.eclipse.ui.propertyPages">
   <page
         class="org.thanlwinsoft.languagetest.eclipse.views.LangPropertyPage"
         icon="icons/FlagOutline16.png"
         id="org.thanlwinsoft.languagetest.eclipse.views.LangPropertyPage"
         name="%LanguageTest.langPropertyPage"
         objectClass="org.eclipse.core.resources.IResource"/>
</extension>
<extension
      point="org.eclipse.search.searchPages">
   <page
         canSearchEnclosingProjects="true"
         class="org.thanlwinsoft.languagetest.eclipse.search.LanguageTestItemSearch"
         enabled="true"
         extensions="xml:1"
         icon="icons/testItemSearch.png"
         id="org.thanlwinsoft.languagetest.eclipse.search.LanguageTestItemSearch"
         label="%LanguageTest.searchPage"
         showScopeSection="true"
         tabPosition="0"/>
</extension>
<extension
      point="org.eclipse.search.searchResultViewPages">
   <viewPage
         class="org.thanlwinsoft.languagetest.eclipse.search.TestItemSearchViewPage"
         icon="icons/testItemSearch.png"
         id="org.thanlwinsoft.languagetest.eclipse.search.TestItemSearchViewPage"
         label="%LanguageTest.testItemSearchResultPage"
         searchResultClass="org.thanlwinsoft.languagetest.eclipse.search.TestItemSearchResult"/>
</extension>
<extension
      point="org.eclipse.ui.preferencePages">
   <page
         class="org.thanlwinsoft.languagetest.eclipse.prefs.RecordingPreferencePage"
         id="org.thanlwinsoft.languagetest.eclipse.prefs.RecordingPreferencePage"
         name="%LanguageTest.recordingPrefPage"/>
</extension>
<extension
      point="org.eclipse.ui.exportWizards">
   <wizard
         category="org.thanlwinsoft.languagetest.export.category"
         class="org.thanlwinsoft.languagetest.eclipse.export.ExportWizard"
         icon="icons/languageBuddy16.png"
         id="org.thanlwinsoft.languagetest.eclipse.export.ExportWizard"
         name="%LanguageTest.exportWizard">
      <selection class="org.eclipse.core.resources.IFile"/>
   </wizard>
   <category
         id="org.thanlwinsoft.languagetest.export.category"
         name="%LanguageTest.exportCategory"/>
</extension>
<extension
      point="org.eclipse.ui.viewActions">
   <viewContribution
         id="org.thanlwinsoft.languagetest.chartHistoryViewContribution"
         targetID="org.thanlwinsoft.languagetest.eclipse.views.ChartHistoryView">
      <action
            class="org.thanlwinsoft.languagetest.eclipse.charts.SVGChartGenerator"
            enablesFor="*"
            id="org.thanlwinsoft.languagetest.SVGChartGenerator"
            label="%LanguageTest.saveChart"
            style="push"
            toolbarPath="Bar/additions/Save"
            tooltip="%LanguageTest.SVGChartGenerator"/>
      <menu
            id="org.thanlwinsoft.languagetest.SVGChartGeneratorMenu"
            label="%LanguageTest.saveChart"
            path="slot1">
         <groupMarker name="org.thanlwinsoft.languagetest.chart.SaveMenu"/>
      </menu>
      <action
            class="org.thanlwinsoft.languagetest.eclipse.charts.PNGChartGenerator"
            enablesFor="*"
            id="org.thanlwinsoft.languagetest.SVGChartGenerator.PNG"
            label="%LanguageTest.saveChartAsPng"
            menubarPath="org.thanlwinsoft.languagetest.chart.SaveMenu"
            style="push"/>
      <action
            class="org.thanlwinsoft.languagetest.eclipse.charts.JPEGChartGenerator"
            enablesFor="*"
            id="org.thanlwinsoft.languagetest.SVGChartGenerator.JPEG"
            label="%LanguageTest.saveChartAsJpeg"
            menubarPath="org.thanlwinsoft.languagetest.chart.SaveMenu"
            style="push"/>
      <action
            class="org.thanlwinsoft.languagetest.eclipse.charts.SVGChartGenerator"
            enablesFor="*"
            id="org.thanlwinsoft.languagetest.SVGChartGenerator"
            label="%LanguageTest.saveChartAsSvg"
            menubarPath="org.thanlwinsoft.languagetest.chart.SaveMenu"
            style="push"/>
   </viewContribution>
</extension>
<extension
      point="org.thanlwinsoft.languagetest.xslexport">
   <exporter
         extension="html"
         name="HTML"
         xslt="/org/thanlwinsoft/languagetest/language/text/LanguageTest.xsl"/>
   <exporter
         extension="pdf"
         name="PDF"
         wizardPage="org.thanlwinsoft.languagetest.eclipse.export.FopConfigPage"
         xslt="/org/thanlwinsoft/languagetest/language/text/LangTestTableFo.xsl"/>
   <exporter
         extension="csv"
         name="CSV"
         xslt="/org/thanlwinsoft/languagetest/language/text/LanguageExportCsv.xsl"/>
</extension>
<extension
      point="org.eclipse.ui.intro.config">
   <config
         content="docs/en/introContents.xml"
         id="org.thanlwinsoft.languagetest.configId"
         introId="org.thanlwinsoft.languagetest.intro">
      <presentation
            home-page-id="standby"
            standby-page-id="standby">
         <implementation
               kind="html"
               os="win32,linux,macosx"/>
      </presentation>
   </config>
</extension>
<extension
      point="org.eclipse.ui.intro">
   <intro
         class="org.eclipse.ui.intro.config.CustomizableIntroPart"
         id="org.thanlwinsoft.languagetest.intro"/>
   <introProductBinding
         introId="org.thanlwinsoft.languagetest.intro"
         productId="org.thanlwinsoft.languagetest.LanguageTest"/>
</extension>		
 
</plugin>
